@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;

    height: 100vh;
    flex-direction: column;
    background-color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 25%;
}

img {
    width: 100%;
}

.img img {
    width: 100%;
}

.title {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 50px;
}

.title h1{
    font-size: 2.5rem;
    font-weight: 600;
}

.title h1 span{
    color: #327dc4;
}

.title p {
    font-size: 1.3rem;
}

.card {
    background-color: #819daf;
    border-radius: 20px;
}

.img img {
    border-radius: 20px;
}

.card .info {
    padding-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.card h2 {
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: 600;
}

.card .info p {
    font-size: 1.4rem;
}

.card .info button {
    all: unset;
    margin-top: 20px;
    background-color: #327dc4;
    color: white;
    padding: 6px 26px;
    border-radius: 30px;
    font-size: 1.1rem;
    border: 1px solid #323cc4;
    box-shadow: 0px 0px 1px 1px #e2e2e2;
}
