* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #eee;
}
/* CENTERED */
/* .container {
    background: black;
    color: #fff;
    padding: 2em;
    /* width: 20vw;
    height: 20vh; */
    /* position: absolute; */
    /* top: calc(50% - 10vw);
    left: calc(50% - 10vh); */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
/* }  */


.container {
    background: black;
    color: #fff;
    padding: 2em;
    width: 100%;
    position: fixed;
    /* top: calc(50% - 10vw);
    left: calc(50% - 10vh); */
    bottom: 0;
    left: 0;
}